<!-- promo_project/promo/templates/promo/edit_profile.html -->
<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Редактирование профиля</title>
    <link rel="stylesheet" type="text/css" href="{% static 'promo/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="header">Редактирование профиля</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <label for="last_name">Фамилия:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="form-control">
            </div>
            <div class="form-row">
                <label for="first_name">Имя:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" class="form-control">
            </div>
            <div class="form-row">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="form-control">
            </div>
            <div class="form-row">
                <label for="phone">Телефон:</label>
                <input type="text" id="phone" name="phone" value="{{ user.phone }}" class="form-control">
            </div>
            <button type="submit" class="btn">Сохранить изменения</button>
        </form>
    </div>
</body>
</html>